*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family:'Seoge UI', sans-serif;
}

body{
    background:#0b0f1a;
    color:#e5e7eb;
}

/* Nabar */
.navbar{
    display:flex;
    justify-content: space-between;
    padding:16px 40px;
    background:#0f1629;
    align-items:center;
}

.logo{
    font-size: 22px;
    font-weight: bold;
    color:#2dd4bf;
}

